* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  background: url("./picture/seamless.png");
  box-shadow: 0 10px 6px -6px #777;
}
header section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 70vw;
  margin: auto;
}
header section a img.logo {
  width: 16vw;
  height: 14vh;
}
header section .top {
  display: flex;
  vertical-align: bottom;
  margin-left: auto;
}
header section .top .search {
  padding: 0.5rem 1rem;
}
header section .top .search img {
  height: 5vh;
  vertical-align: bottom;
}
header section .top .search input {
  display: inline-block;
  width: 15vw;
  height: 5vh;
  font-size: 1.3rem;
}
header section .top .search input::-moz-placeholder {
  font-size: 1.3rem;
}
header section .top .search input::placeholder {
  font-size: 1.3rem;
}
header section .top .search input:focus {
  outline-color: rgb(255, 151, 9);
}
header section .top .user {
  padding: 0.5rem 1rem;
}
header section .top .user img {
  height: 5vh;
}
header section .top .cart {
  padding: 0.5rem 1rem;
}
header section .top .cart img {
  height: 5vh;
}
header section.nav-list nav {
  margin: 0.75rem 0;
}
header section.nav-list nav ul {
  width: 70vw;
  margin: auto;
  border: 3px solid rgb(255, 151, 9);
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
}
header section.nav-list nav ul li {
  padding: 0.5rem 3rem;
  font-size: 2rem;
  list-style-type: none;
}
header section.nav-list nav ul li a {
  text-decoration: none;
  color: rgb(58, 58, 58);
}
header section.nav-list nav ul li a:hover {
  color: rgb(255, 151, 9);
}

footer {
  background-color: rgb(255, 151, 9);
}
footer .footer-content {
  width: 70vw;
  margin: 1rem auto 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
footer .footer-content .link ul {
  display: flex;
}
footer .footer-content .link ul li {
  padding: 0 0.25rem;
  list-style-type: none;
}
footer .footer-content .link ul li a {
  color: rgb(58, 58, 58);
  text-decoration: none;
}
footer .footer-content .link ul li a:hover {
  color: white;
}
footer .footer-content .link ul li::after {
  content: " |";
}
footer .footer-content .link ul li:last-child::after {
  content: "";
}
footer .footer-content .link p {
  padding: 0.3rem;
  color: rgb(58, 58, 58);
}
footer .footer-content .mail p {
  color: rgb(58, 58, 58);
}
footer .footer-content .mail .social-logo {
  display: flex;
  justify-content: flex-start;
}
footer .footer-content .mail .social-logo .logo {
  padding: 0.3rem 1rem;
}

.title {
  width: 70vw;
  margin: 2rem auto 3.5rem auto;
  text-align: center;
}
.title h1 {
  color: rgb(58, 58, 58);
  font-size: 3rem;
}
.title h1 span {
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
}
.title p {
  color: rgb(58, 58, 58);
  font-size: 1.5rem;
  margin: 1rem 0;
}

section.logo-desc {
  background-color: rgb(251, 242, 226);
}
section.logo-desc .content {
  width: 70vw;
  display: flex;
  margin: auto;
}
section.logo-desc .content .logo {
  width: 20vw;
  margin-right: auto;
  position: relative;
}
section.logo-desc .content .logo img {
  width: 100%;
  position: absolute;
  top: 65px;
}
section.logo-desc .content .card-1 {
  width: 15vw;
}
section.logo-desc .content .card-1 .other-pic1 img {
  width: 100%;
  height: 15vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  bottom: -90px;
}
section.logo-desc .content .card-1 p.word-1 {
  color: rgb(58, 58, 58);
  position: relative;
  font-size: 1.2rem;
  top: -275px;
}
section.logo-desc .content .card-2 {
  width: 15vw;
}
section.logo-desc .content .card-2 .other-pic2 img {
  width: 100%;
  height: 15vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: -40px;
}
section.logo-desc .content .card-2 p.word-2 {
  color: rgb(58, 58, 58);
  position: relative;
  font-size: 1.2rem;
  right: -75px;
}

section.map {
  background-image: url("./picture/seamless.png");
}
section.map .content {
  width: 70vw;
  margin: auto;
}
section.map .content .title {
  text-align: center;
}
section.map .content .embed {
  width: 50vw;
  margin: auto;
}
section.map .content .embed iframe {
  width: 100%;
}

section.address {
  background-color: rgb(251, 242, 226);
}
section.address .content {
  width: 50vw;
  margin: auto;
  padding: 1rem 0;
}
section.address .content ul li {
  padding: 0.5rem 0;
  color: rgb(58, 58, 58);
  font-size: 1.5rem;
  list-style-type: none;
}/*# sourceMappingURL=about.css.map */