* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  background: url("./picture/seamless.png");
  box-shadow: 0 10px 6px -6px #777;
}
header section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 70vw;
  margin: auto;
}
header section a img.logo {
  width: 16vw;
  height: 14vh;
}
header section .top {
  display: flex;
  vertical-align: bottom;
  margin-left: auto;
}
header section .top .search {
  padding: 0.5rem 1rem;
}
header section .top .search img {
  height: 5vh;
  vertical-align: bottom;
}
header section .top .search input {
  display: inline-block;
  width: 15vw;
  height: 5vh;
  font-size: 1.3rem;
}
header section .top .search input::-moz-placeholder {
  font-size: 1.3rem;
}
header section .top .search input::placeholder {
  font-size: 1.3rem;
}
header section .top .search input:focus {
  outline-color: rgb(255, 151, 9);
}
header section .top .user {
  padding: 0.5rem 1rem;
}
header section .top .user img {
  height: 5vh;
}
header section .top .cart {
  padding: 0.5rem 1rem;
}
header section .top .cart img {
  height: 5vh;
}
header section.nav-list {
  width: 70vw;
}
header section.nav-list nav {
  margin: 0.75rem 0;
}
header section.nav-list nav ul {
  margin: auto;
  border: 3px solid rgb(255, 151, 9);
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
}
header section.nav-list nav ul li {
  padding: 0.5rem 3rem;
  font-size: 2rem;
  list-style-type: none;
}
header section.nav-list nav ul li a {
  text-decoration: none;
  color: rgb(58, 58, 58);
}
header section.nav-list nav ul li a:hover {
  color: rgb(255, 151, 9);
}

footer {
  background-color: rgb(255, 151, 9);
}
footer .footer-content {
  width: 70vw;
  margin: 1rem auto 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
footer .footer-content .link ul {
  display: flex;
}
footer .footer-content .link ul li {
  padding: 0 0.25rem;
  list-style-type: none;
}
footer .footer-content .link ul li a {
  color: rgb(58, 58, 58);
  text-decoration: none;
}
footer .footer-content .link ul li a:hover {
  color: white;
}
footer .footer-content .link ul li::after {
  content: " |";
}
footer .footer-content .link ul li:last-child::after {
  content: "";
}
footer .footer-content .link p {
  padding: 0.3rem;
  color: rgb(58, 58, 58);
}
footer .footer-content .mail p {
  color: rgb(58, 58, 58);
}
footer .footer-content .mail .social-logo {
  display: flex;
  justify-content: flex-start;
}
footer .footer-content .mail .social-logo .logo {
  padding: 0.3rem 1rem;
}

body {
  background-color: rgb(242, 242, 242);
}

section {
  width: 70vw;
  margin: 3rem auto;
  display: flex;
}
section .list {
  width: 15vw;
}
section .list ul {
  background-color: rgb(140, 132, 126);
  text-align: center;
}
section .list ul li {
  list-style-type: none;
  padding: 1rem 0;
}
section .list ul li a {
  color: white;
  text-decoration: none;
}
section .list ul li a:hover {
  color: rgb(255, 151, 9);
}
section .main-area {
  width: 55vw;
  border: 5px solid rgb(140, 132, 126);
}
section .main-area .main {
  display: flex;
  margin-top: 0.5rem;
}
section .main-area .main .product {
  width: 30vw;
  margin: 0 auto;
}
section .main-area .main .product .pic {
  margin: 0 0.3rem 1rem 0.3rem;
}
section .main-area .main .product .pic img {
  width: 100%;
}
section .main-area .main .product .other-pic {
  display: flex;
  background-color: rgb(251, 242, 226);
  padding: 0.5rem;
  margin-left: 0.25rem;
}
section .main-area .main .product .other-pic .other-1,
section .main-area .main .product .other-pic .other-2,
section .main-area .main .product .other-pic .other-3 {
  margin: 0 0.3rem;
}
section .main-area .main .product .other-pic .other-1 img,
section .main-area .main .product .other-pic .other-2 img,
section .main-area .main .product .other-pic .other-3 img {
  display: block;
  width: 100%;
}
section .main-area .main .content {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
section .main-area .main .content h1 {
  color: secondColor;
  padding: 0 0.3rem 1rem 0.3rem;
  font-size: 1.6rem;
}
section .main-area .main .content .desc {
  flex-grow: 1;
}
section .main-area .main .content .desc p {
  color: secondColor;
  padding: 0 0.3rem 1rem 0.3rem;
  text-indent: 1.5rem;
  font-size: 1.2rem;
}
section .main-area .main .content .price strong {
  color: rgb(237, 21, 36);
  font-size: 2.5rem;
}
section .main-area .main .content .btns {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
section .main-area .main .content .btns button.minus,
section .main-area .main .content .btns .plus {
  font-size: 2rem;
  padding: 0.25rem 0.6rem;
  border-radius: 5px;
}
section .main-area .main .content .btns button.minus {
  cursor: not-allowed;
}
section .main-area .main .content .btns button.plus {
  cursor: pointer;
}
section .main-area .main .content .btns input {
  text-align: center;
  font-size: 1.3rem;
}
section .main-area .main .content .purchase {
  display: flex;
  justify-content: space-around;
}
section .main-area .main .content .purchase button.add-cart {
  color: white;
  background-color: rgb(255, 151, 9);
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
section .main-area .main .content .purchase button.purchase {
  color: white;
  background-color: rgb(237, 21, 36);
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
section .main-area .dash {
  background-color: rgb(140, 132, 126);
  height: 10px;
  margin: 1.5rem 0;
}
section .main-area p {
  color: rgb(58, 58, 58);
  font-size: 2rem;
}
section .main-area .relate-item {
  display: flex;
  margin: 1rem 0;
}
section .main-area .relate-item .item {
  width: 13.25vw;
  height: 20vh;
  margin: 0 0.25rem;
}
section .main-area .relate-item .item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prev {
  width: 70vw;
  margin: 2rem auto;
  text-align: center;
}
.prev a {
  font-size: 2rem;
  background-color: rgb(255, 151, 9);
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
}/*# sourceMappingURL=item.css.map */