* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  background: url("./picture/seamless.png");
}
header section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 70vw;
  margin: auto;
}
header section a img.logo {
  width: 16vw;
  height: 14vh;
}
header section .top {
  display: flex;
  vertical-align: bottom;
  margin-left: auto;
}
header section .top .search {
  padding: 0.5rem 1rem;
}
header section .top .search img {
  height: 5vh;
  vertical-align: bottom;
}
header section .top .search input {
  display: inline-block;
  width: 15vw;
  height: 5vh;
}
header section .top .search input::-moz-placeholder {
  font-size: 1.3rem;
}
header section .top .search input::placeholder {
  font-size: 1.3rem;
}
header section .top .search input:focus {
  outline-color: rgb(255, 151, 9);
}
header section .top .user {
  padding: 0.5rem 1rem;
}
header section .top .user img {
  height: 5vh;
}
header section .top .cart {
  padding: 0.5rem 1rem;
}
header section .top .cart img {
  height: 5vh;
}
header section.nav-list nav {
  margin: 0.75rem 0;
}
header section.nav-list nav ul {
  width: 70vw;
  margin: auto;
  border: 3px solid rgb(255, 151, 9);
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
}
header section.nav-list nav ul li {
  padding: 0.5rem 3rem;
  font-size: 2rem;
  list-style-type: none;
}
header section.nav-list nav ul li a {
  text-decoration: none;
  color: rgb(58, 58, 58);
}
header section.nav-list nav ul li a:hover {
  color: rgb(255, 151, 9);
}

footer {
  background-color: rgb(255, 151, 9);
}
footer .footer-content {
  width: 70vw;
  margin: 1rem auto 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
footer .footer-content .link ul {
  display: flex;
}
footer .footer-content .link ul li {
  padding: 0 0.25rem;
  list-style-type: none;
}
footer .footer-content .link ul li a {
  color: rgb(58, 58, 58);
  text-decoration: none;
}
footer .footer-content .link ul li a:hover {
  color: white;
}
footer .footer-content .link ul li::after {
  content: " |";
}
footer .footer-content .link ul li:last-child::after {
  content: "";
}
footer .footer-content .link p {
  padding: 0.3rem;
  color: rgb(58, 58, 58);
}
footer .footer-content .mail p {
  color: rgb(58, 58, 58);
}
footer .footer-content .mail .social-logo {
  display: flex;
  justify-content: flex-start;
}
footer .footer-content .mail .social-logo .logo {
  padding: 0.3rem 1rem;
}

body {
  background-color: rgb(242, 242, 242);
}

section {
  width: 70vw;
  margin: 3rem auto;
  display: flex;
}
section .list {
  width: 15vw;
}
section .list ul {
  background-color: rgb(140, 132, 126);
  text-align: center;
}
section .list ul li {
  list-style-type: none;
  padding: 1rem 0;
}
section .list ul li a {
  color: white;
  text-decoration: none;
}
section .list ul li a:hover {
  color: rgb(255, 151, 9);
}
section .product {
  width: 55vw;
  margin: auto;
  padding: 0 0.5rem;
  border: 5px solid rgb(140, 132, 126);
}
section .product .top-image {
  margin: 1rem 0;
  height: 30vh;
  background-image: url("./picture/product/top-banner.png");
  background-size: cover;
}
section .product .order {
  display: flex;
  background-color: rgb(140, 132, 126);
}
section .product .order p {
  color: white;
  padding: 0.25rem 0;
  margin: 0.5rem;
}
section .product .order button.update {
  border: none;
  padding: 0.2rem 0.4rem;
  margin: 0.5rem;
  color: rgb(58, 58, 58);
  cursor: pointer;
  background-color: rgb(255, 151, 9);
  border-radius: 10px;
}
section .product .order button.price {
  border: none;
  padding: 0.2rem 0.4rem;
  margin: 0.5rem;
  color: rgb(58, 58, 58);
  cursor: pointer;
  border-radius: 10px;
}
section .product .cards {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
section .product .cards .card {
  width: 13vw;
  height: 43vh;
  display: flex;
  flex-direction: column;
  padding: 0 0.3rem;
  background-color: rgb(251, 242, 226);
}
section .product .cards .card .pic img {
  width: 100%;
  height: 28vh;
  -o-object-fit: cover;
     object-fit: cover;
}
section .product .cards .card h4 {
  font-size: 1.2rem;
}
section .product .cards .card .price {
  margin-top: auto;
  display: flex;
}
section .product .cards .card .price p {
  font-size: 1.2rem;
  margin-right: auto;
}
section .product .cards .card .price button {
  padding: 0.25rem 0.5rem;
  color: white;
  background-color: rgb(255, 151, 9);
  cursor: pointer;
  border: none;
}
section .product .cards .card:hover {
  background-color: rgb(255, 236, 197);
}
section .product .page {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  background-color: rgb(140, 132, 126);
}
section .product .page .page-first {
  background-color: rgb(255, 151, 9);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
section .product .page .page-first a {
  text-align: center;
  color: white;
  text-decoration: none;
}
section .product .page .page-other {
  background-color: rgb(140, 132, 126);
  margin: 0 1rem;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .product .page .page-other a {
  display: block;
  text-decoration: none;
  color: white;
}
section .product .page .page-next {
  background-color: rgb(255, 151, 9);
  width: 64px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
section .product .page .page-next a {
  text-align: center;
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=products.css.map */